.part1  .container{
	background-color: #005;
}
.part1 img{
	max-width: 100%;
	max-height: 100%;
	height:250px;
	width:200px;
	border-radius: 0;
	margin-left: 0px;
}
.part1{
	background-color: #005;
	color:#fff;
}

.part2{
	background-color: #090;
	color:#ffe;
	padding-bottom: 100px;
}
.part2 table,td,tr,th{
	border: 3px solid black;
	color:#900;
}
.part2 table{
	width:100%;
	border-collapse: collapse;
}
.part3{
	background-color: #f95;
}
.part3 img{
	max-width: 100%;
	max-height: 100%;
}
